.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #mydiv {
    display: none;
    top: 0%;
    position: absolute;
    width: 50%;
    height: 50%;
    z-index: 9;
    right: 40%;


    background-color: #000000;
    border: 1px solid #000000;
    text-align: center;
  }

 
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #020000;
    color: #fff;
    text-align: left;
  }

  #displayField{
    display: block;  
    height: 60%;
    text-align: left;
    background-color: slategrey;
    color: #fff;
    overflow:auto;
  }
  

  #button{
    display: none;
  }
  #inputField{
    display: block;
    position: absolute;
    size: inherit;
   
    padding:0%;

    height: 20%;
    width: 100%;
    bottom: 0%;
    background-color: aqua;

  }
  #myInput{
    height: 100%;
    width: 100%;
    background-color: #000000;
    color: #fff;
  }