ul {
    width: auto;
    float: right;
    margin-top: 8px;
}

li{
    display: inline-block;
    padding:15px 30px;
    
}

/*cards https://www.youtube.com/watch?v=jAJxKnGHcDk*/
.container{
  padding: 2rem 5%;

}

.flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 0%;
}

.card{
  display: flex;
  flex-direction: row;


  position:initial;
  background: #282828a3;
  padding: 0px 10px 15px;
  box-shadow: 0 0 3px rgba(0,0, 0, 0.5);
  flex: 1 0 15em;
  margin-right: 60%;
  transition: all 0.3s ease;
  animation-name: fadeIn, slideIn;
  animation-duration: 1s, 2s;
  height: auto;

}
.column {
  float: left;
  width: 40%;
  }
.column1{
  float: left;
  width: 50%;
  display: none;
 
}

.cardImage{
  height: 40%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  align-self:left;
  transition: all .2s ease-in-out; 
  
}


.card h2{
  position:inherit;
  text-align: left;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: rgb(245, 245, 245);
  font-size: 1rem;
  font-family: 'Press Start 2P', cursive;
  
}

.card p{

  line-height: 130%;
  margin-bottom: 20px;
  color: #ffffff;
  
  
}



.card:hover .cardImage{
  position:initial;
  top:-200%;
  left:-30%;
  width:70%;
  height:auto;
  display:block;
  z-index:999;
  
}

.row:after {
content: "";
display: table;
clear: both;
}

.card:hover{
  margin-right: 20px;
}
.card:hover .column1{
  display: block;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes slideIn{
  0%{
    transform: translateX(-500px);
  }
  100%{

  }
}

@media (max-width: 1000px){
  .cardImage{
    
  }
  .card{
    margin-right: 20px;
    display: flex;
    flex-direction: row;
  }
  .column{
    display: table;
    overflow: auto;
  }
  .column1{
    overflow: auto;
    display: block;
    animation-name: fadeIn;
    animation-duration: 1s;
  }

}