body, html{
  background-image: none;  
}

article{
  padding: 2% 20%;
  animation-name: fadeIn, slideIn;
  animation-duration: 2s, 1s;
}


img{
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 50%;
  display: block;
  align-self: center;
}

.imageHolder{
  align-items: center;
}

.navBlog {
  background-color : #31B0D5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;



}

#navBlogContainer {
  position: sticky;
  bottom: 0;
  
  float: right;
  background-color: #31B0D5;
  padding-bottom: 12px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */



